* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0px;
    justify-content: space-around;
    align-items: center;
}

.img-side {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.option-left {
    width: 50%;
    height: 90vh;
    padding: 30px 50px; 
    overflow-y: auto;
}

.icon {
    margin: 30px 30px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.img-side .label {
    position: absolute;
    font-size: 24px;
    margin-top: 240px;
    margin-left: 30px;
    display: block;
    color: #FFFFFF;
    letter-spacing: 0px;
}



.img-side .bg {
    width: 550px;
    height: 300px;
    margin-top: 0px;
    margin-left: -10px;
}

.img {
    width: 100%;
    height: 100%;
}

.img-layout img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-layout{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.options {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.options p {
    font-size: 14px;
    letter-spacing: 0.6px;
}

.item-option {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5px;
}

.container-qr {
    width: auto;
    height: auto;
    padding: 7px;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    display: block;
    margin-top: 30px;
    margin-left: 400px;
    border-radius: 7px;
}



.ion-icon {
    font-size: 28px;
    color: white;
}

.options .item-option .span {
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    border: 1px solid #2196F3;
    background-color: #2196F3;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0px;
}

.options .item-option .span:nth-child(2) {
    margin-left: 10px;
}

.options .item-option input[type='text'] {
    padding: 0px 10px;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #939393;
    display: block;
}

select {
    margin-left: 20px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    width: 150px;
}
.select{
    margin-left: -00px;
    margin-right: 20px;
}
.select-1{
    margin-left: 20px;
}
.item-option button {
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #2196F3;
    color: white;
    outline: none;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.options:last-child {
    margin-top: 20px;
}

.options:last-child a {
    color: #065DF5;
}

.input-file[type="file"]{
    color: #065DF5;
    cursor: pointer;
}

.header{
    width: 100%;
    height: 50px;
    background-color: #065DF5;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.header div{
    padding: 0px 50px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header div span{
    margin-left: 5px;
}

.ion-icon-view{
    font-size: 20px;
    color: white;
}


@media only screen and (max-width: 1150px) {
    .App {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    .img-side {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .option-left {
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .options {
        width: 60%;
    }
}






/* 2 */
.img-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-qr-2 {
    width: auto;
    height: auto;
    padding: 7px;
    background-color: white;
    position: absolute;
    display: block;
    border-radius: 7px;
    margin-bottom: 20px;
}



.img-side .label-2 {
    position: absolute;
    font-size: 24px;
    margin-top: 130px;
    display: block;
    color: #FFFFFF;
    letter-spacing: 0px;
}

.icon-2{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-bottom: 220px;
    margin-left: -320px;
}
.layout-item-img{
    width: 100%;
    height: 300px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.item-img{
    width: 180px;
    height: 110px;
    cursor: pointer;
    margin-bottom: 10px;
}